.container.mx-auto
    - if user_signed_in?
        = link_to "Logout", destroy_user_session_path, method: :delete
    - else
        = link_to "Login", new_user_session_path
    = shop_icon_quantity
    = link_to "Proceed to checkout", cartify.cart_path if current_order
    %br/
    = render 'partials/welcome'
    -@categories.each do |category|
        .table
        .max-w-md
            %h2.text-center= category.name
            -category.products.each do |product|
                .table
                .max-w-md.rounded.overflow-hidden.shadow-lg
                    %p= product.name
                    %p= product.description
                    %p= product.price 
                .max-w-md
                    = add_to_cart(product, 1, "Add to cart") if user_signed_in? 